.html {
  text-align: center;
  background-color: #f0f0f0;
}

.box {
  
  font-size: 15px;
  background-color: aqua;
  width: 300px;
  height: 200px;
  border: solid 3px #665de6;
  margin: 300px 10px 10px 10px;
  padding: 5px;
  flex-direction: row;
  }

  .header link {
    width: 100%;
    background-color: rgb(138, 223, 249);
    position: fixed;
  }

  
  

